<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Now Graphics</title>
</head>
<body>
    <header>
        <nav class="menu">
            <a href="/" class="topic_menu ativo">HOME</a>
            <a href="/covid" class="topic_menu">COVID-19</a>
            <a href="" class="topic_menu">EDUCAÇÃO</a>
            <a href="/politica" class="topic_menu">POLÍTICA</a>
            <span class="topic_menu_cadastrar"><a href="/create">ADICIONAR</a></span>
        </nav>
        <div class="logo_nav">
            <img src="imagens/logonav.png" alt="Logo da Now Graphic">
        </div>
    </header>
    <div class="home">
        <div class="main">
            <h1>Now Graphics</h1>
            <h3>Ache gráficos e estatísticas de uma forma fácil e rápida.</h3>

            
            <a href="/create" class="btn_criar">Cadastrar Gráfico</a>
        </div>
    </div>
</body>
</html>