<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="covid.css">
    <title>Mensagem</title>
</head>
<body>
    <div class="bloco">
        <span><i class="material-icons">check_circle_outline</i></span>
        <h2>Cadastro realizado com sucesso</h2>
        <h4>Aguarde, você será redirecionado</h4>
    </div>
    <script>
    //fazendo voltar para home automaticamente após 3 segundos
        setTimeout(()=>{
            window.location = "/"
        }, 3000)
    </script>

</body>
</html>